name: First workflow
on:
  push:
    branches:
      - main
      
    
jobs:
  example-job:
     runs-on: ubuntu-latest

     steps:
     - name: print a welcome message
       run: echo "Welcome it is first pipeline"
     - name: checkout repo
       uses: actions/checkout@v6.0.1
     - name: list repo
       run: ls -la
     
